
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 45%;
}

body {
    background-color: white;
    zoom: 1fr;
}

.img1 {
    max-width: 13%;
    padding-top: 20px;
}

.Login {
    border-radius: 50px;
    background-color: #6D46DB;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px 25px;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 1990px;
    padding: 10px 300px;

}


header nav a {
    padding-top: 30px;
    color: black;
    margin-right: -5px;
    margin-left: 1px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: 100%;
    text-decoration: none;
}

header nav select {
    margin-top: 25px;
    padding: 0px 30px;
    border-radius: 20px;
    height: 30px;
    margin-right: 200px;
}

header nav img a {
    padding-right: 30px;
}

.flex-parent {
    display: flex;
    justify-content: space-between;
    background-image: url(Images/BackgroundImage.png);
    background-size: cover;
    margin-top: 80px;
    
    padding-left: 90px;
}

.flex-child:nth-child(1) {
    width: 50%;
    padding: 115px 200px;
    margin-left: -20px;
    
    
}

.flex-child:nth-child(1) span {
    font-family: Poppins, sans-serif;
    font-size: 60px;
    font-weight: 700;
    font-stretch: 100%;
    color: #FFFFFF;
}



.flex-child:nth-child(2) {
    width: 50%;
    margin-top: -40px;
    padding-top: 80px;
    margin-bottom: 0px;
}

.flex-child:nth-child(1) p {
    margin-left: 2px;
    margin-top: 35px;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-stretch: 100%;
    line-height: 1.7;
    color: #FFFFFF;
}

.flex-child:nth-child(3) {
    max-width: 50%;
    position: fixed;
    top: 490px;
    left: 275px;
    position: absolute;
    
}

.flex-child:nth-child(4) {
    max-width: 50%;
    position: fixed;
    top: 490px;
    left: 430px;
    position: absolute;
    
}

.flex-child:nth-child(5) p {
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 9px;
    font-weight: 400;
    font-stretch: 500%;
    position: fixed;
    top: 570px;
    left: 280px;
    line-height: 1.3;
    position: absolute;
}

.flex-child:nth-child(5) img {
    max-width: 30px;
    position: fixed;
    top: 560px;
    left: 350px;
    position: absolute;
}

.flex-child:nth-child(6) p {
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 9px;
    font-weight: 400;
    font-stretch: 500%;
    position: fixed;
    top: 570px;
    left: 410px;
    line-height: 1.3;
    position: absolute;
}

.flex-child:nth-child(6) img {
    max-width: 60px;
    position: fixed;
    top: 567px;
    left: 470px;
    position: absolute;
}

.Nav2 {
    background-color: #6F06C0;
    position: absolute;
    top: 655px;
    height: 105px;
}

.Nav2 img {
    margin-left: 480px;
    margin-top: 22px;
    max-width: 43%;
}



.flex-parent2 {
    margin-top: 90px;
    position: relative;
}

.flex-child7 h2 {
    padding: 0px 530px;
    font-family: Poppins, sans-serif;
    font-size: 49px;
    font-weight: 700;
    font-stretch: 100%;
    color: #490181;
}

.flex-child7 p {
    padding: 10px 585px;
    font-family: Poppins, sans-serif;
    font-size: 26px;
    font-weight: 300;
    font-stretch: 100%;
    color: #8F00FF;
    letter-spacing: 3%;
}

.flex-child8 {
    margin-top: 15px;
    margin-left: 400px;
    margin-right: 1090px;
    padding: 10px 30px;
    text-align: center;
    background-color: #490181;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 1px 10px 1px #FFD74C;
    margin-top: 40px;
}

.flex-child8 h4 {
    font-family: Poppins, sans-serif;
    font-size: 21px;
    font-weight: 700;
    font-stretch: 100%;
    color:#FFFFFF;
    padding-top: 10px;
}

.flex-child8 p {
    padding: 10px 0px;
    font-family: Poppins, sans-serif;
    font-size: 400;
    font-weight: 16px;
    font-stretch: 100%;
    color: #FFFFFF;

}

.flex-child9 {
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 1090px;
    padding: 10px 50px;
    text-align: center;
    background-color: #490181;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 1px 10px 1px #FFD74C;
}

.flex-child9 h5 {
    font-family: Poppins, sans-serif;
    font-size: 21px;
    font-weight: 700;
    font-stretch: 100%;
    color:#FFFFFF;
    padding-top: 10px;
}

.flex-child9 p {
    padding: 10px 0px;
    font-family: Poppins, sans-serif;
    font-size: 400;
    font-weight: 16px;
    font-stretch: 100%;
    color: #FFFFFF;
}
.flex-child10 {
    margin-top: 15px;
    margin-left: 400px;
    margin-right: 1090px;
    padding: 10px 50px;
    text-align: center;
    background-color: #490181;
    line-height: 1.5;
    border-radius: 20px;
    box-shadow: 1px 10px 1px #FFD74C;
    margin-top: 40px;
}

.flex-child10 h6 {
    font-family: Poppins, sans-serif;
    font-size: 21px;
    font-weight: 700;
    font-stretch: 100%;
    color:#FFFFFF;
    padding-top: 10px;
}

.flex-child10 p {
    padding: 10px 0px;
    font-family: Poppins, sans-serif;
    font-size: 400;
    font-weight: 16px;
    font-stretch: 100%;
    color: #FFFFFF;
}

.flex-child11 {
    width: 50%;
    position: absolute;
    top: 115px;
    left: 950px;
}

.flex-parent3 {
    margin-top: 60px;
    line-height: 1.2;
    position: relative;
    background-color: #F0F0FF;
    height: 700px;
    padding-top: 80px;
}

.flex-child12 h5 {
    padding: 20px 0px;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #490181;
    width: 50%;
    padding-left: 300px;
    margin-bottom: 35px;
    padding-top: 80px;
}

.flex-child12 p {
    color: #490181;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-stretch: 100%;
    padding-left: 300px;
    width: 40%;
    margin-bottom: 60px;
}

.flex-child13 {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: 100%;
    margin: 30px 290px;
    padding: 15px 0px;
    padding-right: 40px;
    padding-left: 35px;
    text-align: center;
    background-color: #8F00FF;
    color: #FFFFFF;
    box-shadow: 7px 7px 2px #FFB800;
    width: 30%;
}

.twoladies img {
    max-width: 75%;
    border-radius: 30px;
    height: 500px;
}

.twoladies {
    position: absolute;
    top: 110px;
    left: 900px;
    align-items: end;
}

.flex-parent4 {
    background-color: #FFFFFF;
    line-height: 1.2;
    height: 700px;
    padding-bottom: 80px;
}


.nigga img {
    max-width: 75%;
    border-radius: 30px;
    height: 500px;
}

.nigga {
    position: absolute;
    top: 2205px;
    right: 840px;
    align-items: end;
    padding-top: 80px;
}

.flex-child14 h3 {
    position: absolute;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: 100%;
    margin: 0px 290px;
    padding: 15px 0px;
    padding-right: 40px;
    padding-left: 35px;
    text-align: center;
    background-color: #8F00FF;
    color: #FFFFFF;
    box-shadow: 7px 7px 2px #FFB800;
    width: 30%;
}

.spanchild14 {
    margin-left: 130px;
    line-height: 1.3;
}
.flex-child14 {
    position: absolute;
    left: 950px;
    padding-left: 50px;
    padding-top: 90px;
    text-align: right;
}

.flex-child14 p {
    margin-top: 40px;
}

.flex-child14 h5 {
    word-spacing: -7px;
    padding: 10px -0.1px;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #490181;
    width: 50%;
    margin-left: 15px;
    margin-bottom: 35px;
    padding-top: 80px;
}

.spanchild14p {
    margin-right: 6px;
}

.flex-child14 p {
    color: #490181;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-stretch: 100%;
    width: 45%;
    word-spacing: 2px;
    margin-left: 60px;
    line-height: 1.3;
}

.flex-child15 {
    position: absolute;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: 100%;
    margin: 530px 900px;
    padding: 15px 0px;
    padding-right: 40px;
    padding-left: 35px;
    text-align: center;
    background-color: #8F00FF;
    color: #FFFFFF;
    box-shadow: 7px 7px 2px #FFB800;
    width: 30%;
}

